// font

$font-Hoves-Trial: 'TT Hoves Pro Trial Variable', sans-serif;
$font-Poppins-Bold: 'Poppins-Bold', sans-serif;
$font-Poppins-Medium: 'Poppins-Medium', sans-serif;

//border-radius
$border-round: 50%;
$border-oval: 30px;
$border-rectangle: 12px;
$border-rectangle-large: 20px;
$border-primary: 22px;

/* Font  */
$font-color-white: #F1F1F1;
$font-color-dark: #1D1D1D;
$active-color: #FF003D;
$disabled-color: #1D1D1D;
$shadow1 : 0px 12px 24px -4px #0000001F;

$shadow2: 0px 0px 2px 0px #00000033;