.btn-bottom {
    padding: 10px 20px;
    border-radius: 5px;
    color: $font-color-white;
    border: none;
    cursor: pointer;
    height: 58px;
    width: calc(100% - 48px);
    margin: 32px auto;
    font-family: $font-Hoves-Trial;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

}